<div class="containerPrincipal">
  <div>
    <p class="textoPrincipal">Comunicados</p>
  </div>
  <div class="comunicadosContainer">
    <a *ngFor="let card of cards" href="{{ card.url }}" target="_blank">
      <div class="cardNoticia">
        <div class="cardBackground" [style.background-image]="'url(' + card.image + ')'">
          <div class="cardContent">
            <h3>{{ card.title }}</h3>

          </div>
        </div>
      </div>
    </a>

  </div>
  <div>
    <p class="textoPrincipal">Notícias</p>

  </div>
  <div class="noticiasContainer">

    <a *ngFor="let noticia of noticias" href="{{ noticia.url }}" target="_blank">
      <div class="cardNoticia">
        <div class="cardBackground" [style.background-image]="'url(' + noticia.image + ')'">
          <div class="cardContent">
            <h3>{{ noticia.title }}</h3>



          </div>
        </div>
      </div>
    </a>



  </div>
  <div>
    <p class="textoPrincipal">Links Úteis</p>
    <div class="centralizadorLinks">
      <div class="cardLinks" *ngFor="let link of links">
        <a href="{{ link.url }}" target="_blank">
          <div class="conteinertxt">

            <p class="linkTitle">{{link.title}}</p>
          </div>
          <img src="{{link.img}}" alt="image" width="80" height="80" class="imgVivinho">
        </a>
      </div>

    </div>
  </div>

</div>