<div class="containerCentralizador">
   <div>
      <p class="titlePagina">Conheça nosso time</p>
      <mat-card class="example-card" *ngFor="let membro of equipe">
         <p></p>
         <mat-card-content class="content">
            <div class="colunaContainer">
               <img [src]="membro.imagem" alt="image" width="125" height="135">
               <div class="descricaoCard">
                  <p class="cardTitle">{{ membro.nome }}</p>
                  <p>{{ membro.cargo }}</p>
               </div>
            </div>
         </mat-card-content>
      </mat-card>
   </div>
   <div class="box-operacional">
      <div class="boxColuna">
         <p class="titlePagina">Receitas</p>
         <div class="cardPhone">
            <div>

               <img [src]="membroSelecionadoReceitas.url" alt="image" class="imgColaborador">
            </div>

            <div class="citacaoUsuario">
               <p>{{ membroSelecionadoReceitas.frase }}</p>
            </div>
            <div class="textPurple">
               {{membroSelecionadoReceitas.nome}}
            </div>
            <div>
               {{membroSelecionadoReceitas.funcao}}
            </div>

         </div>
        
      </div>
      <div class="boxColuna">
         <p class="titlePagina">Projetos</p>
         <div class="cardPhone">
            <div>

               <img [src]="membroSelecionadoProjetos.url" alt="image" class="imgColaborador">
            </div>

            <div class="citacaoUsuario">
               <p>{{ membroSelecionadoProjetos.frase }}</p>
            </div>
            <div class="textPurple">
               {{membroSelecionadoProjetos.nome}}
            </div>
            <div>
               {{membroSelecionadoProjetos.funcao}}
            </div>

         </div>

      </div>
   </div>
</div>