<div class="containerCentralizador">
   <div>
      <p class="titlePagina">Conheça nosso time</p>
      <div class="colunaBox">
         <mat-card class="example-card" *ngFor="let membro of equipe">
   
            <mat-card-content class="content">
               <div class="colunaContainer">
                  <img [src]="membro.imagem" alt="image"  class="imgEquipe">
                  <div class="descricaoCard">
                     <p class="cardTitle">{{ membro.nome }}</p>
                     <p>{{ membro.cargo }}</p>
                  </div>
               </div>
               <div >
                  <img src="/assets/Vivinho-Branco.png" class="vivinho" alt="">
               </div>
            </mat-card-content>
         </mat-card>

      </div>
      
   </div>
   <div class="box-operacional">
      <div class="boxColuna">
         <p class="titlePagina">Receitas</p>
         <div class="cardPhone">
            <div>

               <img [src]="membroSelecionadoReceitas.url" alt="image" class="imgColaborador">
            </div>

            <div class="textWhite">
               {{membroSelecionadoReceitas.nome}}
            </div>
            <div class="textDescricao">
               {{membroSelecionadoReceitas.funcao}}
            </div>
            <div class="textDescricao">
               {{membroSelecionadoReceitas.email}}
            </div>
            
            <div class="atribuicaoContainer">
               <ul>
                  <li *ngFor="let atribuicao of membroSelecionadoReceitas.atribuicao">{{ atribuicao }}</li>
               </ul>
            </div>
            <div class="citacaoUsuario">
               <p>{{ membroSelecionadoReceitas.frase }}</p>
            </div>
         </div>
        
      </div>
      <div class="boxColuna">
         <p class="titlePagina">Projetos</p>
         <div class="cardPhone">
            <div>

               <img [src]="membroSelecionadoProjetos.url" alt="image" class="imgColaborador">
            </div>

            <div class="textWhite">
               {{membroSelecionadoProjetos.nome}}
            </div>
            <div class="textDescricao">
               {{membroSelecionadoProjetos.funcao}}
            </div>
            <div class="textDescricao">
               {{membroSelecionadoProjetos.email}}
            </div>
            <div class="atribuicaoContainer">
               <ul>
                  <li *ngFor="let atribuicao of membroSelecionadoProjetos.atribuicao">{{ atribuicao }}</li>
               </ul>
            </div>
            <div class="citacaoUsuario">
               <p>{{ membroSelecionadoProjetos.frase }}</p>
            </div>

            
         </div>

      </div>
   </div>
</div>