.containerCentralizador {
    display: flex;
    width: 100%;
    margin-top: 12px;
    margin-left: 12px;
}

.titlePagina {
    color: #609;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 42.167px;
    letter-spacing: -1.171px;
}

.colunaContainer {
    display: flex;
    flex-direction: row;
}

.imgColaborador {
    width: 140px;
    height: 140px;
    border-radius: 140px;
}

.descricaoCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    padding: 16px;
    z-index:3;
}

.cardTitle {
    font-size: 20px;
    font-weight: 600;
    color: #660099;
}

.example-card {
    max-width: 850px;
    height: 140px;
    overflow: hidden;
    margin-bottom: 12px;
    margin-top: 12px;

    border-radius: 30px;
    background: linear-gradient(to bottom right, rgba(217, 217, 217, 0.06) 7%, rgba(217, 217, 217, 0.00) 17%, rgba(0, 0, 0, 0.09) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(217, 217, 217, 0.06) 7%, rgba(217, 217, 217, 0.00) 17%, rgba(0, 0, 0, 0.09) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(217, 217, 217, 0.06) 7%, rgba(217, 217, 217, 0.00) 17%, rgba(0, 0, 0, 0.09) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(217, 217, 217, 0.06) 7%, rgba(217, 217, 217, 0.00) 17%, rgba(0, 0, 0, 0.09) 50%) top right / 50% 50% no-repeat;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.operacional-card {
    width: 600px;
    margin-bottom: 12px;
    height: 170px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content {
    font-style: none;
    display: flex;
    flex-direction: row;

}

.title {
    text-decoration: underline;
    size: 100px;
    font-weight: 400;
    color: #660099;
}

.containerPrincipal {
    display: flex;
    flex-direction: row;
}

.containerText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}
.atribuicaoContainer{
    display: flex;
    align-content: flex-start;
    margin: 0;
    padding-left: 0;
    color: white;
}

.containerDescricao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;

}

.titleText {
    color: #660099;
    width: 20%;
}

.descricao {

    margin-left: 18px;
    width: 80%;
}

.colunaCard {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
    flex-direction: column;
}

.cardPhone {
    background-color: #660099;
    width: 250px;
    height: 430px;
    display: flex;
    flex-direction: column;
    

    align-items: center;
    box-shadow: 6px 6px 6px 6px #660099;
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    

}


.citacaoUsuario {
    display: flex;
    position: absolute;
    bottom: 0;

    width: 100%; /* Para ocupar a largura total do cardPhone */
    color: white;
    padding-left: 26px; /* Ajuste conforme necessário */
    justify-content: center;
    width: 250px;
    
}

.textWhite {
    color: white;
    font-weight: 600;
}

.textDescricao {
    color: white;
    font-weight: 400;

}

.navigation-button {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
}

.boxColuna {
    margin-left: 50px;
}

.box-operacional {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.colunaBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imgEquipe {
    border-radius: 110px;
    background: lightgray 50% / cover no-repeat;
    width: 110px;
    height: 110px
}
.vivinho {
    position: absolute;
    top: 0; /* Ajuste a posição superior conforme necessário */
    right: 0; /* Ajuste a posição direita conforme necessário */
    z-index:1; /* Defina um valor alto para garantir que esteja sobreposto às outras divs */
    width: 130px;
    height: 150px
 }