<div class="containerPrincipal">
  <div class="containerText">

    <div class="containerDescricao">
      <div class="titleText">
        <p>
          PMO Contabilidade
        </p>
      </div>
      <div class="descricao">
        <p>{{firstText}}</p>
      </div>
    </div>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="title">Nossa Missão</mat-card-title>
      </mat-card-header>
      <p> </p>
      <mat-card-content class="content">
        <p>{{secondText}}</p>
      </mat-card-content>
    </mat-card>

    <p> </p>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="title">Nossas Responsabilidades</mat-card-title>
      </mat-card-header>
      <p> </p>
      <mat-card-content class="content">
        <p>{{thidText}}</p>
      </mat-card-content>
    </mat-card>

  </div>
  <div class="colunaCard">


    <!-- <div class="cardPhone">
      <div>

        <img src="/assets/Leo.jpg" alt="image" class="imgColaborador">
      </div>
      
      <div class="citacaoUsuario">
        "Trabalhar para construir um futuro melhor"
      </div>
      <div class="textPurple">
        {{colaborador}}
      </div>
      <div>
        {{cargo}}
      </div>

    </div> -->

    <!-- app-carrossel.component.html -->

<div class="carousel">
  <div class="cardPhone">
    <div>
      <img [src]="membroSelecionado.url" alt="image" class="imgColaborador">
    </div>
    <div class="citacaoUsuario">
      {{membroSelecionado.frase}}
    </div>
    <div class="textWhite">
      {{membroSelecionado.nome}}
    </div>
    <div>
      {{membroSelecionado.funcao}}
    </div>
  </div>
</div>
    


  </div>

</div>