.example-card {
    max-width: 800px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  }

.content{
    font-style: none;

}

.title{
    text-decoration: underline;
    size: 100px;
    font-weight: 400;
    color: #660099;
}
.containerPrincipal{
    display: flex;
    flex-direction: row;

}

.containerText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}
.containerDescricao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.titleText{
    color: #660099;
    width: 20%;
}
.descricao{
    
    margin-left: 18px;
    width: 80%;
}
.imgColaborador{
    border-radius: 20px;
    width: 200px; ;
    height: 200px;
}
.colunaCard{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
    flex-direction: column;
}
.cardPhone{
    background-color: #660099;
    width: 220px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 6px 6px #660099;
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
    position: relative;

}
.cardPhone::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2); /* Ajuste o último valor (0.5) para controlar a opacidade do escurecimento */
    pointer-events: none; /* Para permitir a interação com o conteúdo subjacente */
    border-radius: 12px;
}

.citacaoUsuario{
    font-weight: 500;
    padding: 10px;
    font-size: 14px;
    color: white;
}
.textWhite{
    color: white;
    font-weight:500 ;
}
.carousel {
    display: flex;
    overflow: hidden;
  }
  
  .carousel-item {
    flex: 0 0 100%; /* faz com que cada item ocupe 100% da largura */
    transition: transform 0.5s ease-in-out;
  }

