<div class="containerCentralizador">
    <div class="containerForm">
        <div class="containerText">
            <img src="/assets/lapis.svg" width="45" height="45" alt="">
            <p class="titulo">
                Envie sua Dúvida
            </p>
        </div>


        <div class="containerIframe">
            <iframe width='800' height='390' src='https://app.pipefy.com/public/form/qZsay8Jh?embedded=true'
            frameborder='0'>
        
        </iframe>

        </div>
        
        
    </div>
</div>