
:host {
  overflow: hidden !important;
}
.formCriarUsuário{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.containerBackground{
    background-color: rgba(217, 217, 217, 0.25);

}
.containerForm{
    display:flex;

    height: fit-content;
    border-radius: 10px;
    justify-content: center;
    overflow: hidden;

    flex-direction: column;
    
}
.containerCentralizador{
    display: flex;
    justify-content: center;


    
}
.containerColuna{
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 350px;

}
.containerText{

    margin-top: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    color: #660099;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 42.167px;
    letter-spacing: -1.171px;
}
.button {
    background-color:#660099;
    color: #fafafa;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    font-size: medium;
    border-color: #660099

}
.containerButton{
    display: flex;
    justify-content: center;
}
.titulo{
    margin-left: 20px;
    margin-top: 15px;
    
}
.containerIframe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    padding-bottom: 22px;
    justify-content: center;

}
.sem-rolagem {
    overflow: hidden !important;
  }