<div class="containerCentralizador">
    <div class="containerForm">
        <div class="containerText">
            <img src="/assets/lapis.svg" width="45" height="45" alt="">
            <p class="titulo">
                Controle de Usuário
            </p>
        </div>
        <div class="containerBusca">
            <p>Lista de Usuários</p>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Pesquise por</mat-label>
                  <input matInput  value="">
                </mat-form-field>
                <mat-icon>search </mat-icon>
               
              
                
              </form>
            
        </div>

        <div class="containerTable">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"*ngFor="let usuario of usuarios ">

            
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email </th>
                    <td mat-cell *matCellDef="let usuario"> {{usuario.email}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let usuario"> {{usuario.nome}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="perfil">
                    <th mat-header-cell *matHeaderCellDef> Perfil </th>
                    <td mat-cell *matCellDef="let usuario"> {{usuario.perfil}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="area">
                    <th mat-header-cell *matHeaderCellDef> Área </th>
                    <td mat-cell *matCellDef="let usuario"> {{usuario.area}} </td>
                </ng-container>
                <ng-container matColumnDef="resetSenha">
                    <th mat-header-cell *matHeaderCellDef>Reset Senha</th>
                    <td mat-cell *matCellDef="let usuario" class="iconPurple"> <mat-icon aria-hidden="false"  fontIcon="check_circle_outline"></mat-icon> </td>
                </ng-container>
                <ng-container matColumnDef="editar">
                    <th mat-header-cell *matHeaderCellDef>Editar</th>
                    <td mat-cell *matCellDef="let usuario" class="iconPurple"> <mat-icon aria-hidden="false" >edit</mat-icon> </td>
                </ng-container>
                <ng-container matColumnDef="ativar">
                    <th mat-header-cell *matHeaderCellDef>Ativar</th>
                    <td mat-cell *matCellDef="let usuario" class="iconPurple"> <mat-slide-toggle></mat-slide-toggle> </td>
                </ng-container>
                <ng-container matColumnDef="excluir">
                    <th mat-header-cell *matHeaderCellDef>Excluir</th>
                    <td mat-cell *matCellDef="let usuario" class="iconPurple"> <mat-icon aria-hidden="false" >delete_outline</mat-icon> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>

    </div>
</div>