<div class="containerCentralizador">

    <div class="containerIcon">
        <img src="/assets/foguete.svg" width="45" height="45" alt="">
        <div class="containerText">
            <p>
                Instruções de Trabalho
            </p>

        </div>

    </div>
    <div>

        <div class="containerBusca">

            <form class="example-form" >
                <mat-form-field class="searchBar" onsubmit="filtrarProjetos()">
                    <mat-label >Buscar por ITO</mat-label>
                    <input matInput [(ngModel)]='nome' (input)="filtrarProjetos()">
                </mat-form-field>
                <mat-icon (click)="filtrarProjetos()"> search </mat-icon>
            </form>

        </div>
    </div>
    <!-- <div class="containerCard"  *ngFor="let ito of itos" >
        
        <mat-card class="card" >
            <mat-card-content> {{ ito.tema }}</mat-card-content>
            
        </mat-card>
        
    </div> -->
    <table mat-table class="projeto-table" [dataSource]="dataSource" matSort>

        <!-- Nome do Projeto Column -->
        <ng-container matColumnDef="tema">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tema</th>
            <td mat-cell *matCellDef="let ito">{{ ito.tema }}</td>
        </ng-container>
    
        <!-- Status Column -->
        <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Data de encerramento</th>
            <td mat-cell *matCellDef="let ito">{{ ito.data }}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="['tema', 'data']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['tema', 'data'];"></tr>
    </table>
    
</div>