<div class="containerCentralizador">

    <div class="containerIcon">
        <img src="/assets/envelope.vivo.svg" width="45" height="45" alt="">
        <div class="containerText">
            <p>
                Contato
            </p>

        </div>
        


    </div>
    <div class="containerDetalhe">
        <form class="formDuvida">
            <div class="coluna">

                <p>Solicitante</p>
                <mat-form-field class="example-full-width">
                    
                    <input matInput placeholder="Digite seu nome completo" value="" >
                </mat-form-field>
                <p>Email</p>
                <mat-form-field class="example-full-width">
                    
                    <input matInput placeholder="Digite seu email" value="" >
                </mat-form-field>
                <p>Área</p>
                <mat-form-field class="example-full-width">
                    
                    <input matInput placeholder="Digite sua área" value="" >
                </mat-form-field>
                
            </div>
            <div class="coluna">
                <p>Dúvida</p>
                <mat-form-field class="duvidaField">
                    <input matInput placeholder="Detalhe sua dúvida e/ou seu comentário">
                  </mat-form-field>

                  <div class="containerButton">
                      <button class="button" name="action" type="submit">Salvar
                      </button>
      
                  </div>
            </div>
            
          </form>


    </div>
    

</div>