.containerBusca {
    margin-bottom: 30px;
    margin-top: 30px;
 }
 
 .containerText {
     color: #660099;
     font-size: 25px;
     margin-top: 25px;
     margin-left: 20px;
     font-weight: 500;
     display: flex;
     flex-direction: row;
     align-items: flex-end;
 }
 
 .containerCentralizador {
     display: flex;
     
     flex-direction: column;
     width: 100%;
     align-items: center;

 }
 
 .containerIcon {
     display: flex;
     flex-direction: row;
     margin-bottom: 50px;
     width: 80%;
     justify-content: flex-start;
     align-items: center;

     
 }
 
 .containerPurple{
    display:flex;
    background-color: #660099;
    display: flex;
    margin-right: 0;
    margin-left: 100px;

    width: 600px;
    border-radius: 3px;
    align-items: center;
    font-weight: 400;
    
 }
 .title{
    color: #fff;
    margin-left: 20px;
    margin-top: 10px;
 }
 .containerForm{
    display: flex;
    align-items: center;
    
    width: 70%;
    border-color: #660099;
    border: #660099;
    border-radius: 5px;
    height: 80px;
    border: 1px solid #609;
    padding-left: 10px;
    font-weight: 500;
    align-content: flex-end;
    
    
}
 .containerDetalhe{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    width:85%;
   
    border-color: #660099;
    border: #660099;
    border-radius: 5px;
    height: 400px;
    border: 1px solid #609;
    padding-left: 10px;
    
    
}

.containerMessage{
    width:30% ;
    display:flex;
    justify-content: center;

}
.containerTextDuvida{
    width: 80%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #660099;

}
.example-full-width {
    width: 100%;
  }

.coluna{
    display: flex;
    margin-left:40px ;
    flex-direction: column;
    width: 40%;
}
.formDuvida{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.duvidaField{
    height: 100%;
    white-space: pre-wrap;
}
.containerButton{
    display: flex;
    justify-content: center;
}
.button {
    background-color:#660099;
    color: #fafafa;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    font-size: medium;
    border-color: #660099

}