<router-outlet></router-outlet>


<div class="content-wrapper">
    <div class="form-container">
      <h1>PMO Contabilidade</h1>
  
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field class="example-full-width">
          <textarea rows="5" cols="10" matInput placeholder="   " formControlName="pmoContabilidade"></textarea>
        </mat-form-field>
      </form>
  
      <h2>Atualizar Nossa Missão</h2>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field class="example-full-width">
          <!-- <mat-label>Escreva alguma coisa</mat-label> -->
          <textarea rows="5" cols="10" matInput placeholder="   " formControlName="missao"></textarea>
        </mat-form-field>
      </form>
  
      <h1>Atualizar Quem Somos</h1>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field class="example-full-width">
          <!--  <textarea rows="1" cols="40" matInput placeholder="   " formControlName="resposabilidade"></textarea> -->
          <textarea rows="5" cols="10" matInput placeholder="   " formControlName="resposabilidade"></textarea>
        </mat-form-field>
      </form>
  
      <button mat-button color="blue">Botão Personalizado</button>
      <button mat-raised-button class="custom-button" routerLink="/user-admin">Voltar</button>
    </div>
  </div>
  