.example-card {
    max-width: 900px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  }

.content{
    font-style: none;
    size: 40px;
    font-weight: 500;
}

.title{
    color: #609;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 42.167px;
    letter-spacing: -1.171px;
}
.containerPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containerText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}
.containerDescricao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.titleText{
    color: #660099;
    width: 20%;
}
.descricao{
    
    margin-left: 18px;
    width: 80%;
}

.colunaCard{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
    flex-direction: column;
}


.citacaoUsuario{
    font-weight: 500;
    padding: 10px;
    font-size: 14px;
    color: white;
}
.textWhite{
    color: white;
    font-weight:500 ;
}

