<div class="containerPrincipal">
    <div class="containerText">
  
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="title">Nossa Missão</mat-card-title>
        </mat-card-header>
        <p> </p>
        <mat-card-content class="content">
          <p>{{firstText}}</p>
        </mat-card-content>
      </mat-card>
  
      <p> </p>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="title">Missão de Projetos</mat-card-title>
        </mat-card-header>
        <p> </p>
        <mat-card-content class="content">
          <p>{{secondText}}</p>
        </mat-card-content>
      </mat-card>

      <p> </p>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="title">Missão de Análise de Receitas</mat-card-title>
        </mat-card-header>
        <p> </p>
        <mat-card-content class="content">
          <p>{{thirdText}}</p>
        </mat-card-content>
      </mat-card>
  
    </div>

    <div>
      <div>
        <img src="/assets/human.png" alt="image" width="550" height="500"  >
      </div>
    </div>
    
  
  </div>