.containerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}

.custom-toggle.mat-button-toggle-checked {
  background-color: #660099;
  color: white;
}
.containerText {
  margin-top: 5px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: #609;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 42.167px;
  letter-spacing: -1.171px;
}
 
 .containerCentralizador {
     display: flex;
     margin-left: 60px;
     flex-direction: column;
     width: 80%;
 }
 .containerIcon {
     display: flex;
     flex-direction: row;
 }