<div class="containerButton">
    <mat-button-toggle class="custom-toggle" [class.mat-button-toggle-checked]="showComponentReceitas" mat-button
        (click)="showComponentReceitas = true;showComponentProjetos = false;">
        Receitas
    </mat-button-toggle>
    <mat-button-toggle class="custom-toggle" [class.mat-button-toggle-checked]="showComponentProjetos" mat-button
        (click)="showComponentProjetos = true;showComponentReceitas = false; ">
        Projetos
    </mat-button-toggle>
</div>

<div class="component-container">
    <app-calendario-receitas *ngIf="showComponentReceitas"></app-calendario-receitas>

    <app-calendario-projetos *ngIf="showComponentProjetos"></app-calendario-projetos>
</div>