<div class="containerCentralizador">

    <div class="containerIcon">
        <img src="/assets/foguete.svg" width="45" height="45" alt="">
        <div class="containerText">
            <p>
                Projetos
            </p>

        </div>

    </div>
    <div>

        <div class="containerBusca">
            <p>Buscar Projeto</p>
            <form class="example-form" >
                <mat-form-field class="searchBar" onsubmit="filtrarProjetos()">
                    <mat-label >ex. Sustentabilidade</mat-label>
                    <input matInput [(ngModel)]='nome' (input)="filtrarProjetos()">
                </mat-form-field>
                <mat-icon (click)="filtrarProjetos()"> search </mat-icon>
            </form>

        </div>
    </div>
    <div class="containerCard"  *ngFor="let projeto of projetos" [routerLink]="['/projetos', projeto.id]">
        <div class="containerStatus">
            {{ projeto.status }}

        </div>
        <mat-card class="card" >
            <mat-card-content> {{ projeto.nome }}</mat-card-content>
            
        </mat-card>
        
    </div>
</div>