.containerBusca {
   margin-bottom: 30px;
   margin-top: 30px;
}

.containerText {
  margin-top: 5px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: #609;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 42.167px;
  letter-spacing: -1.171px;
}

.containerCentralizador {
    display: flex;
    margin-left: 60px;
    flex-direction: column;
    width: 80%;

    

}

.containerIcon {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    border-color: #660099;
    border: #660099;
    border-radius: 5px;
    width: 80%;
    height: 69px;
    border: 1px solid #609;
    justify-content: flex-start;
    margin-bottom: 13px;
    flex-direction: row;
}

.card:hover {
    background-color: #660099;
    color: #fff;
    

}
.searchBar {
    width: 60%; /* Ajuste o valor conforme necessário */
  }
.containerCard{
    display: flex;
    flex-direction: row;
}
.containerStatus{
    display: flex;
    align-items: center;
    width: 130px;
    border-color: #660099;
    border: #660099;
    border-radius: 5px;
    height: 69px;
    border: 1px solid #609;
    padding-left: 10px;
    font-weight: 500;
    
}
.projeto-table {
    width: 100%;
    border-collapse: collapse;
    border-color: #660099
  }
  
  .projeto-table th, .projeto-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

    

  
  .projeto-table tr:hover {
    background-color: #660099; 
    color: #ffffff; 
  }

  .projeto-table thead {

    color: #000000; /* Cor do texto no cabeçalho, ajustado para preto */
  }
  
  .projeto-table th {
    color: #000000; /* Cor do texto nas células do cabeçalho, ajustado para preto */
    background-color: #dddddd;
  }
