<div class="boxCentralizador">
    <div class="containerText">
      <p>Responsabilidades de Projetos</p>
    </div>
  
    <div class="containerColuna">
      <!-- Coluna 1 -->
      <div class="listaContainer">
        <div class="card" *ngFor="let responsabilidade of lista.slice(0, 4)">
          <span class="bullet">&#8226;</span>
          <p>{{ responsabilidade }}</p>
        </div>
      </div>
  
      <!-- Coluna 2 -->
      <div class="listaContainer">
        <div class="card" *ngFor="let responsabilidade of lista.slice(4)">
          <span class="bullet">&#8226;</span>
          <p>{{ responsabilidade }}</p>
        </div>
      </div>
    </div>
  </div>