<div class="containerCentralizador">

    <div class="containerIcon">
        <img src="/assets/biblioteca.svg" width="45" height="45" alt="">
        <div class="containerText">
            <p>
                Memorandos
            </p>

        </div>

    </div>
    <div class="containerBusca">

        <form class="example-form">
            <mat-form-field class="searchBar" onsubmit="filtrarProjetos()">
                <mat-label>Buscar por memorando</mat-label>
                <input matInput (input)="filtrarProjetos()">
            </mat-form-field>
            <mat-icon (click)="filtrarProjetos()"> search </mat-icon>
        </form>

    </div>


    <table mat-table class="projeto-table" [dataSource]="dataSource" matSort MatPaginator>

        <!-- Nome do Projeto Column -->
        <ng-container matColumnDef="tema">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tema</th>
            <td mat-cell *matCellDef="let memorando">{{ memorando.tema }}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="versao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Versão</th>
            <td mat-cell *matCellDef="let memorando">{{ memorando.versao }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['tema', 'versao']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['tema', 'versao'];"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons>

    </mat-paginator>


</div>