<div class="containerCentralizador">

    <div class="containerIcon">
        <img src="/assets/biblioteca.svg" width="45" height="45" alt="">
        <div class="containerText">
            <p>
                Biblioteca
            </p>

        </div>

    </div>
    <div class="containerColuna">
        <div class="listaContainer">
            <p class="titleForm">Memorandos</p>
            <div class="card">
                <p>Memorando nº1</p>

            </div>
            <div class="card">
                <p>Memorando nº2</p>

            </div>
            <div class="card">
                <p>Memorando nº3</p>

            </div>
            <div class="card">
                <p>Memorando nº4</p>

            </div>
            <div class="card">
                <p>Memorando nº5</p>

            </div>
        </div>
        <div class="listaContainer">
            <p class="titleForm">Plano de Contas</p>
            <div class="card">
                <p>Plano de contas nº254</p>

            </div>
            <div class="card">
                <p>Plano de contas nº325</p>

            </div>
            <div class="card">
                <p>Plano de contas nº452</p>

            </div>
            <div class="card">
                <p>Plano de contas nº200</p>

            </div>
            <div class="card">
                <p>Plano de contas nº178</p>

            </div>
        </div>
    </div>


</div>