<div class="containerCentralizador">

    <div class="containerIcon">
        <img src="/assets/foguete.svg" width="45" height="45" alt="">
        <div class="containerText">
            <p>
                Projetos
            </p>

        </div>

    </div>
    <div>
        <p>Buscar projeto</p>
        <div class="containerBusca">
            <p>Lista de Usuários</p>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Pesquise por</mat-label>
                  <input matInput  value="">
                </mat-form-field>
                <mat-icon>search </mat-icon>
               
              
                
              </form>
            
        </div>
    </div>
</div>