<div class="boxCentralizador">

    <div class="containerText">
        <p>Responsabilidades de Análise de Receitas</p>

    </div>
    <div class="containerColuna">

        <div class="containerColuna">
            <!-- Coluna 1 -->
            <div class="listaContainer">
              <div class="card" *ngFor="let responsabilidade of lista.slice(0, 4)">
                <div></div>
                <i class="material-icons bullet">fiber_manual_record</i>
                <div class="responsabilidadeItem"></div>
                <p>{{ responsabilidade }}</p>
              </div>
            </div>
        
            <!-- Coluna 2 -->
            <div class="listaContainer">
              <div class="card" *ngFor="let responsabilidade of lista.slice(4)">
                <i class="material-icons bullet">fiber_manual_record</i>
                <p>{{ responsabilidade }}</p>
              </div>
            </div>
          </div>

    </div>