.containerBusca {
    margin-bottom: 30px;
    margin-top: 30px;
 }
 
 .containerText {
    margin-top: 5px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: #609;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 42.167px;
    letter-spacing: -1.171px;
  }
 
 .containerCentralizador {
     display: flex;
     
     flex-direction: column;
     width: 100%;
     align-items: center;

 }
 
 .containerIcon {
     display: flex;
     flex-direction: row;
     margin-bottom: 50px;
     width: 100%;
     justify-content: center;

     
 }
 
 .containerPurple{
    display:flex;
    background-color: #660099;
    display: flex;
    margin-right: 0;
    margin-left: 100px;

    width: 600px;
    border-radius: 3px;
    align-items: center;
    font-weight: 400;
    
 }
 .title{
    color: #fff;
    margin-left: 20px;
    margin-top: 10px;
 }
 .containerForm{
    display: flex;
    align-items: center;
    
    width: 70%;
    border-color: #660099;
    border: #660099;
    border-radius: 5px;
    height: 80px;
    border: 1px solid #609;
    padding-left: 10px;
    font-weight: 500;
    align-content: flex-end;
    
    
}
 .containerDetalhe{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 50px;

    width:85%;
   
    border-color: #660099;
    border: #660099;
    border-radius: 5px;
    max-height: 400px;
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando o conteúdo ultrapassa a altura máxima */

    border: 1px solid #609;
    
    
    
}

.containerMessage{
    width:30% ;
    display:flex;
    justify-content: center;

}
.containerTextDuvida{
    width: 80%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #660099;

}
.campo {
    margin-bottom: 10px;
  }

  .campo label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
.card{
    height: 100%;
    width: 100%;
    padding-top: 32px;
    padding-left: 16px;

}