<div class="containerCentralizador">

    <div class="containerIcon">
        <img src="/assets/foguete.svg" width="45" height="45" alt="">
        <div class="containerText">
            <p>
                Projetos
            </p>

        </div>
        <div class="containerPurple">
            <p class="title">{{projeto.nome}}</p>
        </div>


    </div>
    <div class="containerDetalhe">
        <p>
            Detalhes
        </p>


    </div>
    <div class="containerForm" routerLink="/projeto-duvida" >
        
        <div class="containerMessage">
            <img src="/assets/envelope.vivo.svg" width="45" height="45" alt="">
        </div>
        <div class="containerTextDuvida">
            <p>Precisa de mais informações sobre esse projeto?</p> 
            
            <p>Mande sua dúvida, comentário ou solicitação por aqui </p>
        </div>


    </div>

</div>