<div class="containerCentralizador">

    <div class="containerIcon">
        <img src="/assets/Calendario.svg" width="55" height="55" alt="">
        <div class="containerText">
            <p>
                Calendário de Receitas 
            </p>

        </div>

    </div>
    <div>

        <div class="containerBusca">

            <form class="example-form" >
                <mat-form-field class="searchBar" onsubmit="filtrarProjetos()">
                    <mat-label >Buscar atividade</mat-label>
                    <input matInput (input)="filtrarProjetos()">
                </mat-form-field>
                <mat-icon (click)="filtrarProjetos()"> search </mat-icon>
            </form>

        </div>
    </div>
    <!-- <div class="containerCard"  *ngFor="let ito of itos" >
        
        <mat-card class="card" >
            <mat-card-content> {{ ito.tema }}</mat-card-content>
            
        </mat-card>
        
    </div> -->
    <table mat-table class="projeto-table" [dataSource]="dataSource" matSort MatPaginator>
        
        <!-- Status Column -->
        <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
            <td mat-cell *matCellDef="let ito">{{ ito.data }}</td>
        </ng-container>
        <!-- Nome do Projeto Column -->
        <ng-container matColumnDef="tema">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Atividade</th>
            <td mat-cell *matCellDef="let ito">{{ ito.tema }}</td>
        </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="['data', 'tema']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['data', 'tema'];"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10,15,20]" showFirstLastButtons>

    </mat-paginator>
    
</div>